body{ 
    font-family: 'Times New Roman', Times, serif; 
    margin:0; 
    padding:0; 
    background:rgb(211, 106, 183); 
    color:peachpuff;
}
header{
    background:pink; 
    color:#111;
    padding:16px; 
    display:flex; 
    text-align: center;
    justify-content:space-between; 
    align-items:center; 
}
h1{
    margin:0; 
    font-size:20px; 
    
}
nav button{
    margin-left:8px;
    padding:6px 10px;
    border-radius:6px;
    border:none; 
    cursor:pointer; 
}
main{ 
    padding:20px; 
    max-width:900px; 
    margin:0 auto;
}
#flights-list,.booking-item,.flight-item{ 
    background:#ffffff; 
    padding:12px; 
    margin:8px 0;
    border-radius:8px; 
    box-shadow:0 1px 3px rgba(0,0,0,0.06);
}
.flight-item{ 
    display:flex; 
    justify-content:space-between;
    align-items:center; 
}
.modal{ 
    position:fixed;
    inset:0; 
    display:flex;
    align-items:center; 
    justify-content:center; 
    background:rgba(0,0,0,0.4); 
}
.modal-content{ 
    background:#ffffff; 
    padding:16px;
    border-radius:8px; 
    min-width:300px; 
}

input, button{
    padding:8px; 
    margin:6px 0;
    width:100%; 
    box-sizing:border-box;
}
button{ 
    background:#7bca3e;
    color:#fff; 
    border:none; 
    border-radius:6px;
    cursor:pointer;
}
footer{
    text-align: center;
    color: #090101;
    font-size: bold;
}